* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing: content-box; */
}

.box1 {
  box-sizing: content-box;
  width: 200px;
  border: 5px solid black;
  /* border-radius: 10px; */
  padding: 20px;

  /* padding: 10px 20px 30px 40px; */
  /* Top, Right, Bottom, Left */

  /* Top-Bottom, Right-Left */
  margin: 50px;

  /* margin: 1px 1px 10px; */
  /* Top, Left/Right, Bottom  */
}

.box2 {
  box-sizing: border-box;
  width: 200px;
  border: 5px solid red;
  /* border-radius: 10px; */
  padding: 20px;

  /* padding: 10px 20px 30px 40px; */
  /* Top, Right, Bottom, Left */

  margin: 50px;
}

/* total width = 
    content width + 
    border + 
    padding + 
    margin */

/* 
total width = 
    200px (content box) + 
    (5px + 5px) border + 
    (20px + 20px) padding + 
    (10px + 10px) margin

= 200 + 40 + 10 + 20 + 20
= 290px
*/
