* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

input, button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 15px;
    display: flex;
    
}